:root {
  --md-source: 0 66 101;
  /* primary */
  --md-ref-palette-primary0: 0 0 0;
  --md-ref-palette-primary10: 0 30 49;
  --md-ref-palette-primary20: 0 51 80;
  --md-ref-palette-primary25: 0 63 97;
  --md-ref-palette-primary30: 0 75 114;
  --md-ref-palette-primary35: 0 87 131;
  --md-ref-palette-primary40: 0 100 150;
  --md-ref-palette-primary50: 19 126 185;
  --md-ref-palette-primary60: 62 152 212;
  --md-ref-palette-primary70: 94 179 241;
  --md-ref-palette-primary80: 144 205 255;
  --md-ref-palette-primary90: 203 230 255;
  --md-ref-palette-primary95: 231 242 255;
  --md-ref-palette-primary98: 247 249 255;
  --md-ref-palette-primary99: 252 252 255;
  --md-ref-palette-primary100: 255 255 255;
  /* secondary */
  --md-ref-palette-secondary0: 0 0 0;
  --md-ref-palette-secondary10: 13 29 42;
  --md-ref-palette-secondary20: 34 50 63;
  --md-ref-palette-secondary25: 46 61 75;
  --md-ref-palette-secondary30: 57 72 86;
  --md-ref-palette-secondary35: 68 84 98;
  --md-ref-palette-secondary40: 80 96 111;
  --md-ref-palette-secondary50: 105 121 136;
  --md-ref-palette-secondary60: 130 147 162;
  --md-ref-palette-secondary70: 157 173 190;
  --md-ref-palette-secondary80: 184 200 217;
  --md-ref-palette-secondary90: 212 228 246;
  --md-ref-palette-secondary95: 231 242 255;
  --md-ref-palette-secondary98: 247 249 255;
  --md-ref-palette-secondary99: 252 252 255;
  --md-ref-palette-secondary100: 255 255 255;
  /* tertiary */
  --md-ref-palette-tertiary0: 0 0 0;
  --md-ref-palette-tertiary10: 33 21 52;
  --md-ref-palette-tertiary20: 55 43 74;
  --md-ref-palette-tertiary25: 66 53 86;
  --md-ref-palette-tertiary30: 78 65 98;
  --md-ref-palette-tertiary35: 90 76 110;
  --md-ref-palette-tertiary40: 102 88 123;
  --md-ref-palette-tertiary50: 127 113 149;
  --md-ref-palette-tertiary60: 154 138 175;
  --md-ref-palette-tertiary70: 181 164 203;
  --md-ref-palette-tertiary80: 209 191 231;
  --md-ref-palette-tertiary90: 236 220 255;
  --md-ref-palette-tertiary95: 247 237 255;
  --md-ref-palette-tertiary98: 254 247 255;
  --md-ref-palette-tertiary99: 255 251 255;
  --md-ref-palette-tertiary100: 255 255 255;
  /* neutral */
  --md-ref-palette-neutral0: 0 0 0;
  --md-ref-palette-neutral10: 26 28 30;
  --md-ref-palette-neutral20: 47 49 51;
  --md-ref-palette-neutral25: 58 60 62;
  --md-ref-palette-neutral30: 69 71 73;
  --md-ref-palette-neutral35: 81 82 85;
  --md-ref-palette-neutral40: 93 94 97;
  --md-ref-palette-neutral50: 118 119 122;
  --md-ref-palette-neutral60: 143 145 148;
  --md-ref-palette-neutral70: 170 171 174;
  --md-ref-palette-neutral80: 198 198 201;
  --md-ref-palette-neutral90: 226 226 229;
  --md-ref-palette-neutral95: 240 240 244;
  --md-ref-palette-neutral98: 249 249 252;
  --md-ref-palette-neutral99: 252 252 255;
  --md-ref-palette-neutral100: 255 255 255;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0 0 0;
  --md-ref-palette-neutral-variant10: 22 28 34;
  --md-ref-palette-neutral-variant20: 43 49 55;
  --md-ref-palette-neutral-variant25: 54 60 66;
  --md-ref-palette-neutral-variant30: 66 71 77;
  --md-ref-palette-neutral-variant35: 77 83 89;
  --md-ref-palette-neutral-variant40: 89 95 101;
  --md-ref-palette-neutral-variant50: 114 120 126;
  --md-ref-palette-neutral-variant60: 140 145 152;
  --md-ref-palette-neutral-variant70: 166 172 179;
  --md-ref-palette-neutral-variant80: 193 199 206;
  --md-ref-palette-neutral-variant90: 222 227 234;
  --md-ref-palette-neutral-variant95: 236 241 249;
  --md-ref-palette-neutral-variant98: 247 249 255;
  --md-ref-palette-neutral-variant99: 252 252 255;
  --md-ref-palette-neutral-variant100: 255 255 255;
  /* error */
  --md-ref-palette-error0: 0 0 0;
  --md-ref-palette-error10: 65 0 2;
  --md-ref-palette-error20: 105 0 5;
  --md-ref-palette-error25: 126 0 7;
  --md-ref-palette-error30: 147 0 10;
  --md-ref-palette-error35: 168 7 16;
  --md-ref-palette-error40: 186 26 26;
  --md-ref-palette-error50: 222 55 48;
  --md-ref-palette-error60: 255 84 73;
  --md-ref-palette-error70: 255 137 125;
  --md-ref-palette-error80: 255 180 171;
  --md-ref-palette-error90: 255 218 214;
  --md-ref-palette-error95: 255 237 234;
  --md-ref-palette-error98: 255 248 247;
  --md-ref-palette-error99: 255 251 255;
  --md-ref-palette-error100: 255 255 255;
  /* light */
  --md-sys-color-primary-light: 0 100 150;
  --md-sys-color-on-primary-light: 255 255 255;
  --md-sys-color-primary-container-light: 203 230 255;
  --md-sys-color-on-primary-container-light: 0 30 49;
  --md-sys-color-secondary-light: 80 96 111;
  --md-sys-color-on-secondary-light: 255 255 255;
  --md-sys-color-secondary-container-light: 212 228 246;
  --md-sys-color-on-secondary-container-light: 13 29 42;
  --md-sys-color-tertiary-light: 102 88 123;
  --md-sys-color-on-tertiary-light: 255 255 255;
  --md-sys-color-tertiary-container-light: 236 220 255;
  --md-sys-color-on-tertiary-container-light: 33 21 52;
  --md-sys-color-error-light: 186 26 26;
  --md-sys-color-error-container-light: 255 218 214;
  --md-sys-color-on-error-light: 255 255 255;
  --md-sys-color-on-error-container-light: 65 0 2;
  --md-sys-color-background-light: 252 252 255;
  --md-sys-color-on-background-light: 26 28 30;
  --md-sys-color-surface-light: 252 252 255;
  --md-sys-color-on-surface-light: 26 28 30;
  --md-sys-color-surface-variant-light: 222 227 234;
  --md-sys-color-on-surface-variant-light: 66 71 77;
  --md-sys-color-outline-light: 114 120 126;
  --md-sys-color-inverse-on-surface-light: 240 240 244;
  --md-sys-color-inverse-surface-light: 47 49 51;
  --md-sys-color-inverse-primary-light: 144 205 255;
  --md-sys-color-shadow-light: 0 0 0;
  --md-sys-color-surface-tint-light: 0 100 150;
  --md-sys-color-outline-variant-light: 193 199 206;
  --md-sys-color-scrim-light: 0 0 0;
  /* dark */
  --md-sys-color-primary-dark: 144 205 255;
  --md-sys-color-on-primary-dark: 0 51 80;
  --md-sys-color-primary-container-dark: 0 75 114;
  --md-sys-color-on-primary-container-dark: 203 230 255;
  --md-sys-color-secondary-dark: 184 200 217;
  --md-sys-color-on-secondary-dark: 34 50 63;
  --md-sys-color-secondary-container-dark: 57 72 86;
  --md-sys-color-on-secondary-container-dark: 212 228 246;
  --md-sys-color-tertiary-dark: 209 191 231;
  --md-sys-color-on-tertiary-dark: 55 43 74;
  --md-sys-color-tertiary-container-dark: 78 65 98;
  --md-sys-color-on-tertiary-container-dark: 236 220 255;
  --md-sys-color-error-dark: 255 180 171;
  --md-sys-color-error-container-dark: 147 0 10;
  --md-sys-color-on-error-dark: 105 0 5;
  --md-sys-color-on-error-container-dark: 255 218 214;
  --md-sys-color-background-dark: 26 28 30;
  --md-sys-color-on-background-dark: 226 226 229;
  --md-sys-color-surface-dark: 26 28 30;
  --md-sys-color-on-surface-dark: 226 226 229;
  --md-sys-color-surface-variant-dark: 66 71 77;
  --md-sys-color-on-surface-variant-dark: 193 199 206;
  --md-sys-color-outline-dark: 140 145 152;
  --md-sys-color-inverse-on-surface-dark: 26 28 30;
  --md-sys-color-inverse-surface-dark: 226 226 229;
  --md-sys-color-inverse-primary-dark: 0 100 150;
  --md-sys-color-shadow-dark: 0 0 0;
  --md-sys-color-surface-tint-dark: 144 205 255;
  --md-sys-color-outline-variant-dark: 66 71 77;
  --md-sys-color-scrim-dark: 0 0 0;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
